In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
d=pd.read_excel('/content/drive/MyDrive/decision tree.xlsx')
d.head()

,FlightNumber,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,Block,ReusedCount,Longitude,Latitude,Class
0,1,6104.959412,0,1,1,0,0,0,1,0,-80.577366,28.561857,0
1,2,525.000000,0,1,1,0,0,0,1,0,-80.577366,28.561857,0
2,3,677.000000,1,1,1,0,0,0,1,0,-80.577366,28.561857,0
3,4,500.000000,2,2,1,0,0,0,1,0,-120.610829,34.632093,0
4,5,3170.000000,3,1,1,0,0,0,1,0,-80.577366,28.561857,0

In [17]:
x=d.iloc[:,1:4]
y=d.iloc[:,:13]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=15)

In [19]:
print(x_train)

     PayloadMass  Orbit  LaunchSite
86  15400.000000      8           3
13   1898.000000      1           1
16   2034.000000      0           1
18   5271.000000      3           1
30   6070.000000      3           3
..           ...    ...         ...
28   5300.000000      3           3
0    6104.959412      0           1
5    3325.000000      3           1
12    570.000000      4           1
72   6104.959412      9           3

[72 rows x 3 columns]

In [20]:
print(x_test)

     PayloadMass  Orbit  LaunchSite
76  15600.000000      8           3
46   9600.000000      2           2
59   2573.000000      1           1
57   3000.000000      3           3
48    350.000000      6           1
69   5000.000000      1           1
8    4535.000000      3           1
14   4707.000000      3           1
9    4428.000000      3           1
73  15600.000000      8           1
25   9600.000000      2           2
87  15400.000000      8           3
38   9600.000000      2           2
3     500.000000      2           2
20   4696.000000      3           1
45   6092.000000      3           1
43   6104.959412      0           1
52   7076.000000      3           1

In [21]:
print(y_train)

    FlightNumber   PayloadMass  Orbit  LaunchSite  Flights  GridFins  Reused  \
86            87  15400.000000      8           3        3         1       1
13            14   1898.000000      1           1        1         1       0
16            17   2034.000000      0           1        1         1       0
18            19   5271.000000      3           1        1         1       0
30            31   6070.000000      3           3        1         0       0
..           ...           ...    ...         ...      ...       ...     ...
28            29   5300.000000      3           3        2         1       1
0              1   6104.959412      0           1        1         0       0
5              6   3325.000000      3           1        1         0       0
12            13    570.000000      4           1        1         1       0
72            73   6104.959412      9           3        4         0       1

    Legs  Block  ReusedCount  Longitude   Latitude  Class
86     1      5            2 -80.603956  28.608058      1
13     1      1            0 -80.577366  28.561857      0
16     1      1            0 -80.577366  28.561857      1
18     1      1            0 -80.577366  28.561857      0
30     0      3            0 -80.603956  28.608058      0
..   ...    ...          ...        ...        ...    ...
28     1      2            1 -80.603956  28.608058      1
0      0      1            0 -80.577366  28.561857      0
5      0      1            0 -80.577366  28.561857      0
12     1      1            0 -80.577366  28.561857      1
72     0      5            3 -80.603956  28.608058      0

[72 rows x 13 columns]

In [22]:
print(y_test)

    FlightNumber   PayloadMass  Orbit  LaunchSite  Flights  GridFins  Reused  \
76            77  15600.000000      8           3        5         1       1
46            47   9600.000000      2           2        2         1       1
59            60   2573.000000      1           1        1         1       0
57            58   3000.000000      3           3        2         1       1
48            49    350.000000      6           1        1         1       0
69            70   5000.000000      1           1        1         1       0
8              9   4535.000000      3           1        1         0       0
14            15   4707.000000      3           1        1         0       0
9             10   4428.000000      3           1        1         0       0
73            74  15600.000000      8           1        3         1       1
25            26   9600.000000      2           2        1         1       0
87            88  15400.000000      8           3        6         1       1
38            39   9600.000000      2           2        1         1       0
3              4    500.000000      2           2        1         0       0
20            21   4696.000000      3           1        1         1       0
45            46   6092.000000      3           1        1         1       0
43            44   6104.959412      0           1        1         1       0
52            53   7076.000000      3           1        1         1       0

    Legs  Block  ReusedCount   Longitude   Latitude  Class
76     1      5            4  -80.603956  28.608058      0
46     1      4            1 -120.610829  34.632093      0
59     1      5            0  -80.577366  28.561857      0
57     1      5            2  -80.603956  28.608058      1
48     1      4            1  -80.577366  28.561857      1
69     1      5            3  -80.577366  28.561857      1
8      0      1            0  -80.577366  28.561857      0
14     0      1            0  -80.577366  28.561857      0
9      0      1            0  -80.577366  28.561857      0
73     1      5            5  -80.577366  28.561857      1
25     1      3            1 -120.610829  34.632093      1
87     1      5            5  -80.603956  28.608058      1
38     1      4            1 -120.610829  34.632093      1
3      0      1            0 -120.610829  34.632093      0
20     1      2            0  -80.577366  28.561857      1
45     1      4            0  -80.577366  28.561857      0
43     1      4            1  -80.577366  28.561857      1
52     1      5            2  -80.577366  28.561857      1

In [30]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [49]:
dt=DecisionTreeRegressor()
cc=dt.fit(x_train,y_train)
from sklearn.metrics import mean_squared_error as MSE
yp=dt.predict(x_test)
mse_dt=MSE(y_test,yp)
rms=mse_dt**(1/2)
print(rms)

17.219221857969774

In [50]:
from sklearn.svm import SVR

In [52]:
svm_regression=SVR()
svm_regression.fit(x_train,y_train)

ValueError: ignored